
<h1>Crear nuevo doctor</h1>

<form method="post">
    <label class="form-label">ID</label>
    <input type="text" class="form-control" name="iddoctor" />
    <label class="form-label mt-3">Apellido</label>
    <input type="text" class="form-control" name="apellido" />
    <label class="form-label mt-3">Especialidad</label>
    <input type="text" class="form-control" name="especialidad" />
    <label class="form-label mt-3">Salario</label>
    <input type="number" class="form-control" name="salario" />
    <label class="form-label mt-3">Hospital</label>
    <input type="number" class="form-control" name="idhospital" />
    <button class="btn btn-info mt-3 w-100">Crear doctor</button>
</form>